/*/__________________________________________________________________________________
: 0. CUSTOM SECTION STYLES [sections 0]
‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾/*/
#theme [data-section].section--wrapper {
  background-color: var(--section--background_1, transparent);
  padding: var(--section--paddingTop_1, 0rem) 0
    var(--section--paddingBottom_1, 0rem) 0;
  margin-bottom: calc(var(--section--marginBottom_1, 0rem));

  /* SECTION CONTENT */
  .section--content {
    background-color: var(--content--background_1, transparent);
    padding: var(--content--paddingTop_1, 0rem)
      var(--content--paddingSides_1, 0rem) var(--content--paddingBottom_1, 0rem);
    color: var(--content--colour_1, var(--colour--primary));
  }

  /* ELEMENT MARGIN */
  .margin--inner > * {
    margin-bottom: calc(var(--element--marginBottom_1, 0rem));

    &:last-child {
      margin-bottom: 0 !important;
    }
  }

  .width--custom {
    max-width: var(--custom--width_1, 9999px);
    margin-left: auto;
    margin-right: auto;
  }
}

/*/__________________________________________________________________________________
: 1. CUSTOM SECTION - BANNER
‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾/*/
#theme [data-section="template"] {

}

/*/__________________________________________________________________________________
: 2. CUSTOM SECTION - HERO
‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾/*/
#theme [data-section="hero"] {
  position: relative;

  .section--content {
    padding: 0 !important;
  }

  .grid--wrapper {
    align-items: center;
    gap: 2rem;
    grid-template-columns: 1fr 35rem;
  }

  // Background
  .image--wrapper {
    position: relative;
    .image {
      filter: brightness(.5);
      height: auto;
      max-height: var(--window-height);
      object-fit: cover;
      width: 100%;
    }
  }

  .video--container {
    filter: brightness(.5);
    .module--icon {
      opacity: 0;
      transition: opacity 500ms ease-in-out;
      -webkit-transition: opacity 500ms ease-in-out;
    }

    .video--wrapper {
      height: 100%;
      transition: opacity 750ms cubic-bezier(0.4, 0, 1, 1);
      -webkit-transition: opacity 750ms cubic-bezier(0.4, 0, 1, 1);
      video {
        display: block;
        height: 100%;
        max-height: 100vh;
        min-height: 100%;
        object-fit: cover;
        width: 100%;
      }
    }
  }

  // Overlay
  .section--overlay {
    display: flex;
    padding: var(--content--paddingTop_1, 0rem) var(--content--paddingSides_1, 0rem) var(--content--paddingBottom_1, 0rem);
    position: relative;

    .section-text {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
    }

    .style--textShadow {
      text-shadow: 1px 1px 1px rgba(0,0,0,.25),2px 2px 1px rgba(0,0,0,.25);
    }

    h2 {
      color: inherit;
      margin: 0;
    }

    .text--wrapper {
      font-size: 2.1rem;
      p {
        margin: 0;
      }
    }
  }
}

/*/__________________________________________________________________________________
:
: CUSTOM SECTION - MEDIA QUERIES
:
‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾/*/
@media screen and (max-width: $break--large) {
}

@media screen and (max-width: $break--medium) {

}

@media screen and (max-width: $break--small) {
  /* [0] */
  #theme [data-section].section--wrapper {
    padding: calc(
        var(--section--paddingTop_1, 0rem) * var(--section--modifierSmall_1, 2)
      )
      0
      calc(
        var(--section--paddingBottom_1, 0rem) *
          var(--section--modifierSmall_1, 2)
      )
      0;
    margin-bottom: calc(
      var(--section--marginBottom_1, 0rem) * var(--section--modifierSmall_1, 2)
    );

    .section--content {
      padding: calc(
          var(--content--paddingTop_1, 0rem) *
            var(--section--modifierSmall_1, 2)
        )
        calc(
          var(--content--paddingSides_1, 0rem) *
            var(--section--modifierSmall_1, 2)
        )
        calc(
          var(--content--paddingBottom_1, 0rem) *
            var(--section--modifierSmall_1, 2)
        );
    }

    .margin--inner > * {
      margin-bottom: calc(
        var(--element--marginBottom_1, 0rem) *
          var(--section--modifierSmall_1, 2)
      );
    }
  }

  /* [1] */
  #theme [data-section="template"] {

  }
  
  /* [2] */
  #theme [data-section="hero"] {
    .section--overlay {
      padding: calc(var(--content--paddingTop_1, 0rem)*var(--section--modifierSmall_1, 2)) calc(var(--content--paddingSides_1, 0rem)*var(--section--modifierSmall_1, 2)) calc(var(--content--paddingBottom_1, 0rem)*var(--section--modifierSmall_1, 2));
    }
  }
}
