@use "sass:map";
@use "variables" as *;
@use "mixins" as *;
@use "functions" as *;

@use "_typography";
@use 'animations';

/* --------------------------------------------------------------------------------------------------------------------------------------------[Defaults]---*/

:root {
  overflow: unset !important;
  padding: 0 !important;
  font-size: calc(#{$size--large} * 62.5%) !important;
 
  --breakpoints: #{map.values($breakpoints)};
  @each $name, $value in $breakpoints {
    --breakpoint-#{$name}: #{$value};
  }

  /*/__________________________________________________________________________________
       : VARIABLES
    ‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾/*/
  --font--primary: #{$font--primary};
  --font--secondary: #{$font--secondary};

  --colour--primary: #{$colour--primary};
  --colour--primaryRGB: #{hex-to-rgb($colour--primary)};

  --colour--secondary: #{$colour--secondary};
  --colour--secondaryRGB: #{hex-to-rgb($colour--secondary)};


  --buttons--text_1: var(--buttons--TextCustom_1, #{$buttons--text_1});
  --buttons--textHover_1: var(--buttons--TextHoverCustom_1, #{$buttons--textHover_1});
  --buttons--background_1: var(--buttons--BackgroundCustom_1, #{$buttons--background_1});
  --buttons--backgroundHover_1: var(--buttons--backgroundHoverCustom_1, #{$buttons--backgroundHover_1});
  --buttons--border_1: var(--buttons--borderCustom_1, #{$buttons--border_1});
  --buttons--borderHover_1: var(--buttons--borderHoverCustom_1, #{$buttons--borderHover_1});
}

* {
  box-sizing: border-box;
}

/*__________________________________________________________________________________________________________________________________________________________*/
/* -------------------------------------------------------------------------------------------------------------------------------------------[Utilities]---*/

/*/__________________________________________________________________________________
    : COLOURS
  ‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾/*/
#theme {
  .colour--primary {
    color: var(--section-content-colour1, var(--colour--primary)) !important;
  }

  .colour--secondary {
    color: var(--section-content-colour2, var(--colour--secondary)) !important;
  }

  .colour--tertiary {
    color: var(--section-content-colour3, var(--colour--tertiary)) !important;
  }

  .colour--accent {
    color: var(--section-content-accent1, var(--colour--accent)) !important;
  }
}

/*/__________________________________________________________________________________
    : LISTS
  ‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾/*/
#theme {
  ul {
    &.grid--wrapper {
      margin: 0;
      padding: 0;
      list-style: none;
    }
  }

  .list {
    &--default {
      li {
        display: flex;
        &:before {
          content: "•";
          display: inline-block;
          margin-right: 0.5em;
        }

        & + li {
          margin-top: var(--list--gap);
        }
      }
    }

    &--image {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        display: flex;

        &:before {
          content: "";
          background-image: var(--icon-list);
          background-size: 1.25em;
          background-size: 90%;
          background-repeat: no-repeat;
          background-position: center;
          display: inline-block;
          margin-right: 0.8rem;
          width: 1.5em;
          height: 1.5em;
        }

        & + li {
          margin-top: var(--list--gap);
        }
      }
    }

    &--none {
      list-style: none;
      padding: 0;
      margin: 0;
    }
  }
}

/*/__________________________________________________________________________________
    : GRIDS
  ‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾/*/
#theme {
  /* FLEX */
  .flex--wrapper {
    display: flex;
    flex-wrap: wrap;
    grid-gap: var(--grid--padding, 1.6rem);

    &.flex--centerH {
      justify-content: center;
    }

    &.flex--centerV, &.style--centerV {
      align-items: center;
    }

    > .flex--item {
      flex: 1;
    }

    &.style--auto > .flex--item {
      flex: unset;
    }
  }

  /* GRID */
  .layout--gridGap {
    display: grid;
    grid-gap: var(--grid--padding, 1.6rem);
  }

  .layout--overlay {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;

    > * {
      grid-row: 1;
      grid-column: 1;
    }

    > *:first-child {
      position: relative;
      z-index: 1;
    }
  }

  .grid--wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: var(--grid--padding, 1.6rem);

    &.style--gap0 {
      grid-gap: 0;
    }
    
    &.style--centerV {
      align-items: center;
    }
  }

  @media screen and (min-width: $break--small) {

    .grid--wrapper {
      &.grid--lg1, &.style--lg1 {
        grid-template-columns: repeat(1, 1fr);
      }
  
      &.grid--lg2, &.style--lg2 {
        grid-template-columns: repeat(2, 1fr);
      }
  
      &.grid--lg3, &.style--lg3 {
        grid-template-columns: repeat(3, 1fr);
      }

      &.grid--lg4, &.style--lg4 {
        grid-template-columns: repeat(4, 1fr);
      }

      &.grid--lg5, &.style--lg5 {
        grid-template-columns: repeat(5, 1fr);
      }

      .style--lgFull {
        grid-column: span var(--grid-span-sm);
      }
    }
  }

  @media screen and (max-width: $break--medium) {
    .grid--wrapper {
      &.grid--md-1, &.grid--md1 {
        grid-template-columns: 1fr;
        grid-template-columns: repeat(1, 100%);
      }

      &.grid--md2 {
        grid-template-columns: repeat(2, 100%);
      }

      &.grid--md3, &.style--md3 {
        grid-template-columns: repeat(3, 1fr);
      }

      .style--mdFull {
        grid-column: span var(--grid-span-md);
      }
    }
  }

  @media screen and (max-width: $break--small) {
    .flex--wrapper {
      grid-gap: calc(var(--grid--padding, 1.6rem) / var(--grid--modifierSmall));

      > .flex--item {
        flex: calc(50% - var(--grid--gap) / var(--grid--modifierSmall));
      }
    }

    .grid--wrapper {
      grid-template-columns: 1fr 1fr;
      grid-gap: calc(var(--grid--padding, 1.6rem) / var(--grid--modifierSmall));

      &.grid--sm-1, &.grid--sm1, &.style--sm1 {
        grid-template-columns: repeat(1, 1fr);
      }

      &.grid--sm2, &.style--sm2 {
        grid-template-columns: repeat(2, 1fr);
      }

      &.grid--sm3 {
        grid-template-columns: repeat(3, 1fr);
      }

      .style--smFull {
        grid-column: span var(--grid-span-sm);
      }
    }
  }

  @media screen and (max-width: $break--tiny) {
    .flex--wrapper {
      grid-gap: calc(var(--grid--padding, 1.6rem) / var(--grid--modifierTiny));

      > .flex--item {
        flex: 100%;
      }
    }

    .grid--wrapper {
      grid-template-columns: 1fr;
      grid-gap: calc(var(--grid--padding, 1.6rem) / var(--grid--modifierTiny));
    }
  }
}

/*/__________________________________________________________________________________
    : CONTAINERS
  ‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾/*/
#theme {
  %container-base {
    width: unset;
    margin: auto;
    padding-left: var(--container--padding);
    padding-right: var(--container--padding);
  }

  .container {
    /* DEFAULT */
    &--default {
      @extend %container-base;
      max-width: calc(var(--container--width) + 2 * var(--container--padding));
    }
    
    /* WIDE */
    &--wide {
      @extend %container-base;
      max-width: calc(var(--container--widthWide) + 2 * var(--container--padding));
    }

    /* NARROW */
    &--narrow {
      @extend %container-base;
      max-width: calc(var(--container--widthNarrow) + 2 * var(--container--padding));
    }

    /* FULL WITH PADDING */
    &--padding {
      @extend %container-base;
      max-width: 100%;
    }

    /* FULL */
    &--full {
      @extend %container-base;
      max-width: 100%;
      padding: 0;
      width: unset;
      margin: auto;
    }

    @media screen and (max-width: $break--large) {
      padding-left: calc(var(--container--padding) / var(--container--modifierLarge));
      padding-right: calc(var(--container--padding) / var(--container--modifierLarge));

      &--full {
        padding: 0;
      }
    }

    @media screen and (max-width: $break--small) {
      padding-left: calc(var(--container--padding) / var(--container--modifierSmall));
      padding-right: calc(var(--container--padding) / var(--container--modifierSmall));

      &--gridDefault {
        grid-template-columns: 1fr;
        padding-left: calc(var(--container--padding) / var(--container--modifierSmall));
        padding-right: calc(var(--container--padding) / var(--container--modifierSmall));
        
        > div {
          &:nth-child(1n) {
            grid-column: unset;
          }
          
          &:nth-child(2n) {
            grid-column: unset;
          }
        }
      }
      
      &--full {
        padding: 0;
      }
    }

    @media screen and (max-width: $break--tiny) {
      padding-left: calc(var(--container--padding) / var(--container--modifierTiny));
      padding-right: calc(var(--container--padding) / var(--container--modifierTiny));

      &--gridDefault {
        padding-left: calc(var(--container--padding) / var(--container--modifierTiny));
        padding-right: calc(var(--container--padding) / var(--container--modifierTiny));
      }
      
      &--full {
        padding: 0;
      }
    }
  }

  .shopify-policy__container {
    @extend %container-base;
    max-width: calc(var(--container--widthNarrow) + 2 * var(--container--padding));

    @media screen and (max-width: $break--small) {
      padding-left: calc(var(--container--padding) / var(--container--modifierSmall));
      padding-right: calc(var(--container--padding) / var(--container--modifierSmall));
    }
  }
}

/*/__________________________________________________________________________________
    : BUTTONS
  ‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾/*/
#theme {
  button, a {
    &.style--unset {
      border: none;
      background: none;
      padding: 0;
      cursor: pointer;
      color: inherit;

      &:before,
      &:after {
        content: none;
      }
    }
  }

  .button {
    &:before,
    &:after {
      content: none;
    }
  }

  .button,
  .button.style--primary,
  .button--primary,
  .button--wrapper a,
  .customer button,
  .cart__ctas button {
    @include button-base;
    @include button-theme(
      var(--section--buttonBackground_1, var(--buttons--background_1)),
      var(--section--buttonBackgroundHover_1, var(--buttons--backgroundHover_1)),
      var(--section--buttonText_1, var(--buttons--text_1)),
      var(--section--buttonTextHover_1, var(--buttons--textHover_1)),
      var(--section--buttonBorder_1, var(--buttons--border_1)),
      var(--section--buttonBorderHover_1, var(--buttons--borderHover_1))
    );

    &.style--reverse {
      @include button-theme(
        var(--section--buttonBackground_1, var(--button-bg)),
        var(--section--buttonBackgroundHover_1, var(--button-bg-hover)),
        var(--section--buttonText_1, var(--button-text)),
        var(--section--buttonTextHover_1, var(--button-text-hover))
      );
    }

    &.style--wire {
      @include button-theme(
        var(--section--buttonBackground_1, var(--button-bg)),
        var(--section--buttonBackgroundHover_1, var(--button-bg-hover)),
        var(--section--buttonText_1, var(--button-text)),
        var(--section--buttonTextHover_1, var(--button-text-hover)),
        $variant: wire
      );
    }

    &.style--large {
      padding: $buttons--padding_large;
      border-radius: $buttons--radius_large;
      font-size: $buttons--size_large;
    }
  }

  .button--loading {
    .spinner {
      animation: loading 2s linear infinite;
      border: 0.2em dotted currentColor;
      border-radius: 50%;
      height: 1em;
      margin: auto;
      opacity: 0.75;
      width: 1em;
    }
  }
}

/*/__________________________________________________________________________________
    : TEXT ALIGNMENT
  ‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾/*/
#theme {
  .text--left {
    text-align: left !important;
  }

  .text--right {
    text-align: right !important;
  }

  .text--center {
    text-align: center !important;
  }

  .text-- {
    @media screen and (max-width: $break--small) {
      &smLeft {
        text-align: left !important;
      }

      &smCenter {
        text-align: center !important;
      }

      &smRight {
        text-align: right !important;
      }
    }
  }

  .style-- {
    &textMargin0 {
      margin: 0;
    }
  }
}

/*/__________________________________________________________________________________
    : UTILITIES
  ‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾/*/
#theme {
  .style--overflowNone,
  [data-overflow="false"],
  &.style--overflowNone,
  &[data-overflow="false"] {
    overflow: hidden;
  }

  .style--selectNone,
  .style--selectOff,
  [data-select="false"] {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  input {
    &:-webkit-autofill {
      -webkit-box-shadow:0 0 0 50px #262626 inset;
      -webkit-text-fill-color: #fff;
    }

    &:-webkit-autofill:focus {
      -webkit-box-shadow: 0 0 0 50px #262626 inset;
      -webkit-text-fill-color: #fff;
    } 
  }

  .hide,
  .style--hide,
  [hidden],
  [data-hide="true"] {
    display: none !important;
  }

  .style--invisible {
    visibility: hidden !important;
  }

  /* SHOW */
  .show {
    @media screen and (max-width: $break--large) {
      &--lgUp {
        display: none !important;
      }
    }

    @media screen and (min-width: $break--large) {
      &--lgDown {
        display: none !important;
      }
    }

    @media screen and (max-width: $break--medium) {
      &--mdUp {
        display: none !important;
      }
    }

    @media screen and (min-width: $break--medium) {
      &--mdDown {
        display: none !important;
      }
    }

    @media screen and (max-width: $break--small) {
      &--smUp {
        display: none !important;
      }
    }

    @media screen and (min-width: $break--small) {
      &--smDown {
        display: none !important;
      }
    }
  }

  /* HIDE */
  .hide {
    @media screen and (max-width: $break--large) {
      &--lgDown {
        display: none !important;
      }
    }

    @media screen and (max-width: $break--medium) {
      &--mdDown {
        display: none !important;
      }
    }

    @media screen and (min-width: $break--small) {
      &--smUp {
        display: none !important;
      }
    }

    @media screen and (min-width: $break--medium) {
      &--mdUp {
        display: none !important;
      }
    }

    @media screen and (max-width: $break--small) {
      &--smDown {
        display: none !important;
      }
    }

    @media screen and (max-width: $break--tiny) {
      &--xsDown {
        display: none !important;
      }
    }
  }
}

/*__________________________________________________________________________________________________________________________________________________________*/
/* -----------------------------------------------------------------------------------------------------------------------------------------------[Other]---*/

#theme {
  /*/__________________________________________________________________________________
      : FORMS
    ‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾/*/
  .field {
    margin-bottom: 3rem;

    label {
      color: inherit;
      letter-spacing: normal;
    }

    &:after {
      border-radius: 1rem;
      box-shadow: 0 0 0 var(--inputs-border-width) var(--colour--accent_2);
    }

    & + * {
      margin-top: 0;
    }
  }

  /*/__________________________________________________________________________________
      : LOADING
    ‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾/*/
  .style--overlayLoading {
    position: relative;
    overflow: hidden;
    transform: none !important;

    &:after {
      content: "";
      position: absolute;
      background: #ffffffe6;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;
    }

    &:before {
      content: "";
      border: 4px solid var(--colour--accentPrimary);
      border-top-color: var(--cart--border);
      border-radius: 50%;
      display: inline-block;
      animation: loading 1s linear infinite;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      z-index: 2;

      font-size: 1rem;
      height: 3.5em;
      width: 3.5em;
      border-width: 0.85em;
      border-color: var(--colour--accentPrimary);
      border-top-color: #e9e9e9;
    }

    .style--sectionLoading {
      display: none !important;
    }
  }

  .style--buttonLoading {
    position: relative;
    overflow: hidden;
    color: transparent !important;

    &:after {
      content: "" !important;
      position: absolute;
      background: #ffffff2e;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    &:before {
      content: "" !important;
      border: 4px solid var(--colour--accent);
      display: inline-block;
      animation: loading 1s linear infinite;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      z-index: 2;
      font-size: 1rem;
      height: 3.5em;
      width: 3.5em;
      border-width: 0.85em;
      border-color: var(--colour--secondary);
      border-top-color: var(--colour--primary);
    }
  }

  /*/__________________________________________________________________________________
      : IMAGES
    ‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾/*/
  .image--wrapper {
    position: relative;
    img {
      height: auto;
      max-width: 100%;
      width: 100%;
      display: block;
    }
  }

  /*/__________________________________________________________________________________
      : SVGs
    ‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾/*/
  .svg--wrapper {
    svg {
      display: block;
      max-width: 100%;
    }
  }

  /*/__________________________________________________________________________________
      : SLIDERS
    ‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾/*/
  .style--even {
    padding-bottom: 0.2rem;
    .swiper-slide {
      height: auto;

      .slide--inner {
        height: 100%;
      }
    }
  }


}

/*__________________________________________________________________________________________________________________________________________________________*/
