@use "_variables" as *;
@use "_functions" as *;
@use "_typography";

/* ------------------------------------------------------------------------------------------------------------------------------------------[Animations]---*/

/*/__________________________________________________________________________________
  : AUTOFILL COLOUR
  : Changes autofill colour
‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾/*/
@keyframes autofill {
  0%,
  100% {
    color: var(--colour--primary);
    background: transparent;
    border: 1px solid var(--colour--border);
  }
}

@-webkit-keyframes autofill {
  0%,
  100% {
    color: var(--colour--primary);
    background: transparent;
    border: 1px solid var(--colour--border);
  }
}

/*/__________________________________________________________________________________
  : FADEIN
‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾/*/
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }

  0.1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

/*/__________________________________________________________________________________
  : SPINNER
  : Changes autofill colour
‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾/*/
@-webkit-keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


@keyframes scroll_v {
  0% {
      background-position: 0 0
  }

  to {
      background-position: 0 -3850px
  }
}

@keyframes scroll_h {
  0% {
      background-position: 0 0
  }

  to {
      background-position: -991px 0
  }
}

/*__________________________________________________________________________________________________________________________________________________________*/
/* --------------------------------------------------------------------------------------------------------------------------------------------[Defaults]---*/

:root {
  overflow: unset !important;
  padding: 0 !important;
  font-size: calc(#{$size--large} * 62.5%) !important;

  /*/__________________________________________________________________________________
       : VARIABLES
    ‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾/*/
  --font--primary: #{$font--primary};
  --font--secondary: #{$font--secondary};
  
  --colour--secondary: #{$colour--secondary};
  --colour--secondaryRGB: #{hex-to-rgb($colour--secondary)};
}

#theme {
  grid-template-rows: auto 1fr auto;
}

* {
  box-sizing: border-box;
}

.overflow--none,
[data-overflow="false"] {
  overflow: hidden;
}

.select--none,
[data-select="false"] {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input:-webkit-autofill {
  -webkit-box-shadow:0 0 0 50px #262626 inset;
  -webkit-text-fill-color: #fff;
}

input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 50px #262626 inset;
  -webkit-text-fill-color: #fff;
} 

/*__________________________________________________________________________________________________________________________________________________________*/
/* -------------------------------------------------------------------------------------------------------------------------------------------[Utilities]---*/

/*/__________________________________________________________________________________
    : COLOURS
  ‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾/*/
/* PRIMARY */
.colour--primary {
  color: var(--section-content-colour1, var(--colour--primary)) !important;
}

/* SECONDARY */
.colour--secondary {
  color: var(--section-content-colour2, var(--colour--secondary)) !important;
}

/* TERTIARY */
.colour--tertiary {
  color: var(--section-content-colour3, var(--colour--tertiary)) !important;
}

/* ACCENT */
.colour--accent {
  color: var(--section-content-accent1, var(--colour--accent)) !important;
}

/*/__________________________________________________________________________________
    : LISTS
  ‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾/*/
/* NORMAL */
.list {
  line-height: 1.25;
  &--default {
    li {
      display: flex;

      &:before {
        content: "•";
        display: inline-block;
        margin-right: 0.5em;
      }

      & + li {
        margin-top: var(--list--gap);
      }
    }
  }

  &--image {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      display: flex;

      &:before {
        content: "";
        background-image: var(--icon-list);
        background-size: 1.25em;
        background-size: 90%;
        background-repeat: no-repeat;
        background-position: center;
        display: inline-block;
        margin-right: 0.8rem;
        width: 1.5em;
        height: 1.5em;
      }

      & + li {
        margin-top: var(--list--gap);
      }
    }
  }

  &--none {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

/*/__________________________________________________________________________________
    : GRIDS
  ‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾/*/
#theme {
  /* FLEX */
  .flex--wrapper {
    display: flex;
    flex-wrap: wrap;
    grid-gap: var(--grid--padding, 1.6rem);

    &.flex--center {
      justify-content: center;
    }

    > .flex--item {
      flex: 1;
    }

    &.style--auto > .flex--item {
      flex: unset;
    }
  }

  /* GRID */
  .layout--gridGap {
    display: grid;
    grid-gap: var(--grid--padding, 1.6rem);
  }

  .grid--wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: var(--grid--padding, 1.6rem);
  }

  @media screen and (min-width: $break--small) {

    .grid--wrapper {
      &.grid--lg1 {
        grid-template-columns: repeat(1, 1fr);
      }
  
      &.grid--lg2 {
        grid-template-columns: repeat(2, 1fr);
      }
  
      &.grid--lg3 {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }

  @media screen and (max-width: $break--medium) {
    .grid--wrapper {
      &.grid--md-1, &.grid--md1 {
        grid-template-columns: 1fr;
        grid-template-columns: repeat(1, 100%);
      }

      &.grid--md2 {
        grid-template-columns: repeat(2, 100%);
      }

      &.grid--md3 {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }

  @media screen and (max-width: $break--small) {
    .flex--wrapper {
      grid-gap: calc(var(--grid--padding, 1.6rem) / var(--grid--modifierSmall));

      > .flex--item {
        flex: calc(50% - var(--grid--gap) / var(--grid--modifierSmall));
      }
    }

    .grid--wrapper {
      grid-template-columns: 1fr 1fr;
      grid-gap: calc(var(--grid--padding, 1.6rem) / var(--grid--modifierSmall));

      &.grid--sm-1, &.grid--sm1 {
        grid-template-columns: 1fr;
        grid-template-columns: repeat(1, 1fr);
      }

      &.grid--sm2 {
        grid-template-columns: repeat(2, 1fr);
      }

      &.grid--sm3 {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }

  @media screen and (max-width: $break--tiny) {
    .flex--wrapper {
      grid-gap: calc(var(--grid--padding, 1.6rem) / var(--grid--modifierTiny));

      > .flex--item {
        flex: 100%;
      }
    }

    .grid--wrapper {
      grid-template-columns: 1fr;
      grid-gap: calc(var(--grid--padding, 1.6rem) / var(--grid--modifierTiny));
    }
  }
}

/*/__________________________________________________________________________________
    : CONTAINERS
  ‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾/*/
.container {
  width: unset;
  margin: auto;
  padding-left: var(--container--padding);
  padding-right: var(--container--padding);

  /* DEFAULT */
  &--default {
    max-width: calc(var(--container--width) + 2 * var(--container--padding));
  }

  &--default2 {
    max-width: calc(var(--container--width) + 2 * var(--container--padding));
  }
  
  /* WIDE */
  &--wide {
    max-width: calc(
      var(--container--widthWide) + 2 * var(--container--padding)
    );
  }

  /* NARROW */
  &--narrow {
    max-width: calc(
      var(--container--widthNarrow) + 2 * var(--container--padding)
    );
  }
  &--narrow2 {
    max-width: calc(
      var(--container--widthNarrow2) + 2 * var(--container--padding)
    );
  }
  &--narrow3 {
    max-width: calc(
      var(--container--widthNarrow3) + 2 * var(--container--padding)
    );
  }

  /* FULL WITH PADDING */
  &--padding {
    max-width: 100%;
  }

  /* FULL */
  &--full {
    max-width: 100%;
    padding: 0;
    width: unset;
    margin: auto;
  }

  @media screen and (max-width: $break--large) {
    padding-left: calc(
      var(--container--padding) / var(--container--modifierLarge)
    );
    padding-right: calc(
      var(--container--padding) / var(--container--modifierLarge)
    );

    &--full {
      padding: 0;
    }
  }

  @media screen and (max-width: $break--small) {
    padding-left: calc(
      var(--container--padding) / var(--container--modifierSmall)
    );
    padding-right: calc(
      var(--container--padding) / var(--container--modifierSmall)
    );

    &--gridDefault {
      grid-template-columns: 1fr;
      padding-left: calc(var(--container--padding) / var(--container--modifierSmall));
      padding-right: calc(var(--container--padding) / var(--container--modifierSmall));
      
      > div {
        &:nth-child(1n) {
          grid-column: unset;
        }
        
        &:nth-child(2n) {
          grid-column: unset;
        }
      }
    }
    
    &--full {
      padding: 0;
    }

    &--default2 {
      padding: 0;
    }
  }

  @media screen and (max-width: $break--tiny) {
    padding-left: calc(
      var(--container--padding) / var(--container--modifierTiny)
    );
    padding-right: calc(
      var(--container--padding) / var(--container--modifierTiny)
    );

    &--gridDefault {
      padding-left: calc(var(--container--padding) / var(--container--modifierTiny));
      padding-right: calc(var(--container--padding) / var(--container--modifierTiny));
    }
    
    &--full {
      padding: 0;
    }

    &--default2 {
      padding: 0;
    }
  }
}

/*/__________________________________________________________________________________
    : BUTTONS
  ‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾/*/
#theme {

  [type="button"] {
    font-family: var(--font--primary);
  }

  .button {

    &:before,
    &:after {
      content: none;
    }
  }
  
  .button,
  .button--primary,
  .button--wrapper a,
  .customer button,
  .cart__ctas button {
    @include button-style();
    
    &:before,
    &:after {
      content: none;
    }
  }

  .button--tertiary {
    letter-spacing: normal;
    box-shadow: none;
    border: 1px solid var(--button--borderHover);
    background-color: var(--button--bgHover);
    color:  var(--button--textHover);

    &:before,
    &:after {
      content: none;
    }
  }

  .button--reset {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    color: inherit;
  }

  .button--loading {
    .spinner {
      animation: loading 2s linear infinite;
      border: 0.2em dotted currentColor;
      border-radius: 50%;
      height: 1em;
      margin: auto;
      opacity: 0.75;
      width: 1em;
  }
}

/*/__________________________________________________________________________________
    : BADGES
  ‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾/*/
#theme {
  .badge--primary {
    display: inline-block;
    background-color: var(--badge-background);
    color: var(--badge-colour);
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: 600;
    padding: 0.7em 2.1453em;
    border-radius:  0 0.67em 0 0.67em;

    &.style--large {
      font-size: clamp(1.2rem, vwRem(1.8rem), 1.8rem);
      padding: 0.5em 1em;
    }

    
    @media screen and (max-width: $break--small) {

      &.style--large {
        font-size: 1.2rem;
        padding: 0.5em 1.103em;
      }
    }
  }
}

/*/__________________________________________________________________________________
    : TEXT ALIGNMENT
  ‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾/*/
.text--left {
  text-align: left !important;
}

.text--right {
  text-align: right !important;
}

.text--center {
  text-align: center !important;
}

/*/__________________________________________________________________________________
    : VISIBILITY
  ‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾/*/
.hide,
[hidden],
[data-hide="true"] {
  display: none !important;
}

.invisible {
  visibility: hidden !important;
}

/* SHOW */
.show {
  @media screen and (max-width: $break--large) {
    &--lgUp {
      display: none !important;
    }
  }

  @media screen and (min-width: $break--large) {
    &--lgDown {
      display: none !important;
    }
  }

  @media screen and (max-width: $break--medium) {
    &--mdUp {
      display: none !important;
    }
  }

  @media screen and (min-width: $break--medium) {
    &--mdDown {
      display: none !important;
    }
  }

  @media screen and (max-width: $break--small) {
    &--smUp {
      display: none !important;
    }
  }

  @media screen and (min-width: $break--small) {
    &--smDown {
      display: none !important;
    }
  }
}

/* HIDE */
.hide {
  @media screen and (max-width: $break--large) {
    &--lgDown {
      display: none !important;
    }
  }

  @media screen and (max-width: $break--medium) {
    &--mdDown {
      display: none !important;
    }
  }

  @media screen and (min-width: $break--small) {
    &--smUp {
      display: none !important;
    }
  }

  @media screen and (min-width: $break--medium) {
    &--mdUp {
      display: none !important;
    }
  }

  @media screen and (max-width: $break--small) {
    &--smDown {
      display: none !important;
    }
  }

  @media screen and (max-width: $break--tiny) {
    &--xsDown {
      display: none !important;
    }
  }
}

/*__________________________________________________________________________________________________________________________________________________________*/

/* -------------------------------------------------------------------------------------------------------------------------------------------[Utilities]---*/

img {
  max-width: 100%;
}

.image--wrapper {
  position: relative;
  img {
    height: auto;
    max-width: 100%;
    display: block;
  }
}

.svg--wrapper {
  svg {
    display: block;
    max-width: 100%;
  }
}

.style--even {
  padding-bottom: 0.2rem;

  .swiper-slide {
    height: auto;

    .slide--inner {
      height: 100%;
    }
  }
}

.style--disabled {
  pointer-events: none;
  opacity: 0.5;

  button {
    display: none;
  }
}

.style--sticky {
  position: sticky;
  top: 1rem;
  z-index: 3;
}

.style--stickyMobile {
  @media screen and (max-width: $break--small) {
    position: sticky;
    top: 1rem;
    top: calc(var(--headerMain-height, 0rem) + 1rem);
    z-index: 3;
  }
}


#theme .style--sectionLoading {
  position: relative;
  overflow: hidden;
  transform: none !important;

  &:after {
    content: "";
    position: absolute;
    background: #ffffffe6;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }

  &:before {
    content: "";
    border: 4px solid var(--colour--accent);
    border-top-color: var(--cart--border);
    border-radius: 50%;
    display: inline-block;
    animation: loading 1s linear infinite;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 2;

    font-size: 1rem;
    height: 3.5em;
    width: 3.5em;
    border-width: 0.85em;
    border-color: var(--colour--secondary);
    border-top-color: var(--colour--primary);
    border-color: var(--colour--primary);
    border-top-color: #e9e9e9;

    
  }

  .style--sectionLoading {
    display: none !important;
  }
}

#theme .style--buttonLoading {
  position: relative;
  overflow: hidden;
  color: transparent !important;

  &:after {
    content: "" !important;
    position: absolute;
    background: #ffffff2e;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &:before {
    content: "" !important;
    border: 4px solid var(--colour--accent);
    border-top-color: var(--cart--border);
    border-radius: 50%;
    display: inline-block;
    animation: loading 1s linear infinite;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 2;

    font-size: 1rem;
    height: 3.5em;
    width: 3.5em;
    border-width: 0.85em;
    border-color: var(--colour--secondary);
    border-top-color: var(--colour--primary);
  }
}

// Default input
#theme .field {
  margin-bottom: 3rem;

  label {
    color: #767270;
    letter-spacing: normal;
  }

  &:after {
    border-radius: 1rem;
    box-shadow: 0 0 0 var(--inputs-border-width) var(--colour--accent_2);
  }

  & + * {
    margin-top: 0;
  }
}

/*__________________________________________________________________________________________________________________________________________________________*/