@import "_variables";
@import "_functions";

/* ------------------------------------------------------------------------------------------------------------------------------------------[Animations]---*/

/*/__________________________________________________________________________________
  : AUTOFILL COLOUR
  : Changes autofill colour
‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾/*/
@keyframes autofill {
  0%,
  100% {
    color: var(--colour--primary);
    background: transparent;
    border: 1px solid var(--colour--border);
  }
}

@-webkit-keyframes autofill {
  0%,
  100% {
    color: var(--colour--primary);
    background: transparent;
    border: 1px solid var(--colour--border);
  }
}

/*/__________________________________________________________________________________
  : FADEIN
‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾/*/
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/*/__________________________________________________________________________________
  : SPINNER
  : Changes autofill colour
‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾/*/
@-webkit-keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*__________________________________________________________________________________________________________________________________________________________*/
/* --------------------------------------------------------------------------------------------------------------------------------------------[Defaults]---*/

:root {
  font-size: calc(#{$size--large} * 62.5%) !important;

  /*/__________________________________________________________________________________
       : VARIABLES
    ‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾/*/
  --font--primary: #{$font--primary};
  --font--secondary: #{$font--secondary};

  --colour--primary: #{$colour--primary};
  --colour--primaryRGB: #{hexToRGB($colour--primary)};
  --colour--secondary: #{$colour--secondary};
  --colour--tertiary: #{$colour--tertiary};

  --colour--accent: #{$colour--accent};

  --colour--border: #{$colour--border};
  --colour--borderRGB: #{hexToRGB($colour--border)};

  --container--width: #{$container--width};
  --container--widthWide: #{$container--widthWide};
  --container--widthNarrow: #{$container--widthNarrow1};
  --container--widthNarrow2: #{$container--widthNarrow2};
  --container--widthNarrow3: #{$container--widthNarrow3};

  --container--padding: #{$container--padding};
  --container--modifierSmall: #{$container--modifierSmall};
  --container--modifierTiny: #{$container--modifierTiny};

  --grid--gap: #{$grid--gap};
  --grid--modifierSmall: #{$grid--modifierSmall};
  --grid--modifierTiny: #{$grid--modifierTiny};

  --list--gap: #{$list--gap};

  --button--bg: #{$button--bg};
  --button--text: #{$button--text};
  --button--bgHover: #{$button--bgHover};
  --button--textHover: #{$button--textHover};
}

* {
  box-sizing: border-box;
}

body {
  color: var(--colour--primary);
  font-family: var(--font--primary);
}

.overflow--none,
[data-overflow="false"] {
  overflow: hidden;
}

.select--none,
[data-select="false"] {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*__________________________________________________________________________________________________________________________________________________________*/
/* -------------------------------------------------------------------------------------------------------------------------------------------[Utilities]---*/

/*/__________________________________________________________________________________
    : COLOURS
  ‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾/*/
/* PRIMARY */
.colour--primary {
  color: var(--section-content-colour1, var(--colour--primary)) !important;
}

/* SECONDARY */
.colour--secondary {
  color: var(--section-content-colour2, var(--colour--secondary)) !important;
}

/* TERTIARY */
.colour--tertiary {
  color: var(--section-content-colour3, var(--colour--tertiary)) !important;
}

/* ACCENT */
.colour--accent {
  color: var(--section-content-accent1, var(--colour--accent)) !important;
}

/*/__________________________________________________________________________________
    : LISTS
  ‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾/*/
/* NORMAL */
.list {
  &--default {
    li {
      display: flex;

      &:before {
        content: "•";
        display: inline-block;
        margin-right: 0.5em;
      }

      & + li {
        margin-top: var(--list--gap);
      }
    }
  }

  &--none {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

/*/__________________________________________________________________________________
    : GRIDS
  ‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾/*/
#theme {
  /* FLEX */
  .flex--wrapper {
    display: flex;
    flex-wrap: wrap;
    grid-gap: var(--grid--gap);

    > .flex--item {
      flex: 1;
    }
  }

  /* GRID */
  .layout--gridGap {
    display: grid;
    grid-gap: var(--grid--gap);
  }

  .layout--gridLayers {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    > div {
      grid-area: -1/-1/1/1;
    }
  }

  .grid--wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: var(--grid--gap);
  }

  @media screen and (max-width: $break--small) {
    .flex--wrapper {
      grid-gap: calc(var(--grid--gap) / var(--grid--modifierSmall));

      > .flex--item {
        flex: calc(50% - var(--grid--gap) / var(--grid--modifierSmall));
      }
    }

    .grid--wrapper {
      grid-template-columns: 1fr 1fr;
      grid-gap: calc(var(--grid--gap) / var(--grid--modifierSmall));
    }
  }

  @media screen and (max-width: $break--tiny) {
    .flex--wrapper {
      grid-gap: calc(var(--grid--gap) / var(--grid--modifierTiny));

      > .flex--item {
        flex: 100%;
      }
    }

    .grid--wrapper {
      grid-template-columns: 1fr;
      grid-gap: calc(var(--grid--gap) / var(--grid--modifierTiny));
    }
  }
}

/*/__________________________________________________________________________________
    : CONTAINERS
  ‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾/*/
.container {
  width: unset;
  margin: auto;
  padding-left: var(--container--padding);
  padding-right: var(--container--padding);

  /* DEFAULT */
  &--default {
    max-width: calc(var(--container--width) + 2 * var(--container--padding));
  }

  /* (WIP) */
  &--gridDefault {
    display: grid;
    grid-template-columns: 1fr css-min(50%, calc(var(--container--width) / 2)) css-min(50%, calc(var(--container--width) / 2)) 1fr;
    padding-left: var(--container--padding);
    padding-right: var(--container--padding);

    > div {
      &:nth-child(1n) {
        grid-column: 2;
      }
      
      &:nth-child(2n) {
        grid-column: 3;
      }
    }
  }

  /* WIDE */
  &--wide {
    max-width: calc(
      var(--container--widthWide) + 2 * var(--container--padding)
    );
  }

  /* NARROW */
  &--narrow {
    max-width: calc(
      var(--container--widthNarrow) + 2 * var(--container--padding)
    );
  }
  &--narrow2 {
    max-width: calc(
      var(--container--widthNarrow2) + 2 * var(--container--padding)
    );
  }
  &--narrow3 {
    max-width: calc(
      var(--container--widthNarrow3) + 2 * var(--container--padding)
    );
  }

  /* FULL WITH PADDING */
  &--padding {
    max-width: 100%;
  }

  /* FULL */
  &--full {
    max-width: 100%;
    padding: 0;
    width: unset;
    margin: auto;
  }

  @media screen and (max-width: $break--small) {
    padding-left: calc(
      var(--container--padding) / var(--container--modifierSmall)
    );
    padding-right: calc(
      var(--container--padding) / var(--container--modifierSmall)
    );

    &--gridDefault {
      grid-template-columns: 1fr;
      padding-left: calc(var(--container--padding) / var(--container--modifierSmall));
      padding-right: calc(var(--container--padding) / var(--container--modifierSmall));
      
      > div {
        &:nth-child(1n) {
          grid-column: unset;
        }
        
        &:nth-child(2n) {
          grid-column: unset;
        }
      }
    }
    
    &--full {
      padding: 0;
    }
  }

  @media screen and (max-width: $break--tiny) {
    padding-left: calc(
      var(--container--padding) / var(--container--modifierTiny)
    );
    padding-right: calc(
      var(--container--padding) / var(--container--modifierTiny)
    );

    &--gridDefault {
      padding-left: calc(var(--container--padding) / var(--container--modifierTiny));
      padding-right: calc(var(--container--padding) / var(--container--modifierTiny));
    }
    
    &--full {
      padding: 0;
    }
  }
}

/*/__________________________________________________________________________________
    : BUTTONS
  ‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾/*/
#theme {
  .button--primary,
  .button--wrapper a {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    transition: all 250ms ease-in-out;
    border: 1px solid var(--section--buttonBackground_1, var(--button--bg));
    background-color: var(--section--buttonBackground_1, var(--button--bg));
    color: var(--section--buttonText_1, var(--button--text));
    text-decoration: none;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    line-height: 1.17;
    letter-spacing: 0.5px;

    border-radius: 8px;
    padding: 1.41em 1.77em;
    font-size: 1.7rem;
    font-weight: 700;
    cursor: pointer;

    span {
      display: block;
      line-height: 1;
      color: inherit;
    }

    &:focus,
    &:active {
      outline: none;
    }

    &:hover {
      border: 1px solid
        var(--section--buttonBackgroundHover_1, var(--button--bgHover));
      background-color: var(
        --section--buttonBackgroundHover_1,
        var(--button--bgHover)
      );
      color: var(--section--buttonTextHover_1, var(--button--textHover));
    }

    @media screen and (max-width: $break--small) {
      font-size: 1.4rem;
      padding: 0.876em 1.6em;
    }
  }

  .button--reset {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    color: inherit;
  }

  .button--loading {
    .spinner {
      animation: loading 2s linear infinite;
      border: 0.2em dotted currentColor;
      border-radius: 50%;
      height: 1em;
      margin: auto;
      opacity: 0.75;
      width: 1em;
  }
}

/*/__________________________________________________________________________________
    : TEXT ALIGNMENT
  ‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾/*/
.text--left {
  text-align: left !important;
}

.text--right {
  text-align: right !important;
}

.text--center {
  text-align: center !important;
}

/*/__________________________________________________________________________________
    : VISIBILITY
  ‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾/*/
.hide,
[hidden],
[data-hide="true"] {
  display: none !important;
}

.invisible {
  visibility: hidden !important;
}

/* SHOW */
.show {
  @media screen and (max-width: $break--large) {
    &--lgUp {
      display: none !important;
    }
  }

  @media screen and (min-width: $break--large) {
    &--lgDown {
      display: none !important;
    }
  }

  @media screen and (max-width: $break--medium) {
    &--mdUp {
      display: none !important;
    }
  }

  @media screen and (min-width: $break--medium) {
    &--mdDown {
      display: none !important;
    }
  }

  @media screen and (max-width: $break--small) {
    &--smUp {
      display: none !important;
    }
  }

  @media screen and (min-width: $break--small) {
    &--smDown {
      display: none !important;
    }
  }
}

/* HIDE */
.hide {
  @media screen and (max-width: $break--large) {
    &--lgDown {
      display: none !important;
    }
  }

  @media screen and (max-width: $break--medium) {
    &--mdDown {
      display: none !important;
    }
  }

  @media screen and (min-width: $break--small) {
    &--smUp {
      display: none !important;
    }
  }

  @media screen and (max-width: $break--small) {
    &--smDown {
      display: none !important;
    }
  }

  @media screen and (max-width: $break--tiny) {
    &--xsDown {
      display: none !important;
    }
  }
}

/*__________________________________________________________________________________________________________________________________________________________*/
@import "_typography";
/* -------------------------------------------------------------------------------------------------------------------------------------------[Utilities]---*/

.image--wrapper {
  img {
    height: auto;
    max-width: 100%;
    display: block;
  }
}

.svg--wrapper {
  svg {
    display: block;
  }
}

/*__________________________________________________________________________________________________________________________________________________________*/
