@use 'sass:math';
@use "sass:color";
@use "sass:string";
@use "_variables" as *;

@function hex-to-rgb($hex) {
  @return "#{color.channel($hex, 'red', $space: rgb)}, #{color.channel($hex, 'green', $space: rgb)}, #{color.channel($hex, 'blue', $space: rgb)}";
}

@function em($px, $base: 16px) {
  @if math.is-unitless($px) {
    $px: $px * 1px;
  }

  @if math.is-unitless($base) {
    $base: $base * 1px;
  }

  $result: math.div($px, $base);
  $rounded: math.div(math.round($result * 100), 100);

  @return $rounded * 1em;
}

@function css-function($function, $values...) {
  $formattedValues: ();

  @each $value in $values {
    $formattedValues: append($formattedValues, $value);
  }

  @return #{$function}(#{$formattedValues});
}

@function css-min($values...) {
  @return css-function(min, $values);
}

@function vw($px-vw, $base-vw: $break--xLarge) {
  @return math.div(($px-vw * 100vw), $base-vw);
}

@function vwCalc($px-vw, $base-vw: $break--xLarge) {
  @return calc((#{$px-vw} * 100vw) / #{$base-vw});
}

@function vwRem($rem-value, $base-vw: $break--xLarge, $base-size: $size--base) {
  @return math.div(((stripUnit($rem-value) * $base-size) * 100vw), $base-vw);
}

@function remToPx($rem-value, $base-size: $size--base) {
  @return #{stripUnit($rem-value) * stripUnit($base-size)}px;
}

@function stripUnit($value) {
  @return math.div($value, ($value * 0 + 1));
}

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}
