@use "variables" as *;
@use "functions" as *;

@mixin fontSize($size, $line_height) {
  font-size: calculateRem($size);
  line-height: $line_height;
}

@mixin placeholderColour($colour) {
  &::-webkit-input-placeholder {
    color: $colour;
    opacity: 1;
  }

  &:-ms-input-placeholder {
    color: $colour;
    opacity: 1;
  }

  &::placeholder {
    color: $colour;
    opacity: 1;
  }
}

@mixin style--selection() {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin headings($large, $small, $tiny, $break-small: $break--small, $break-xLarge: $break--xLarge, $break-tiny: $break--tiny) {
  font-size: $large;

  @media only screen and (min-width: $break-small) and (max-width: $break-xLarge) {
    font-size: clamp($small, vwRem($large), $large);
  }

  @media only screen and (max-width: $break-small) {
    font-size: $small;
  }

  @media only screen and (max-width: $break-tiny) {
    font-size: $tiny;
  }
}

@mixin button-base($break-small: 768px, $radius: $buttons--radius_base, $padding: $buttons--padding_base) {
  appearance: none;
  user-select: none;
  cursor: pointer;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;

  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.25;
  text-align: center;

  padding: $padding;
  border-radius: $radius;
  border: 1px solid transparent;

  transition: all 250ms ease-in-out;
  text-decoration: none;

  span {
    line-height: 1;
  }

  svg {
    height: 1.35em;
    fill: currentColor;
  }

  &:focus,
  &:active {
    outline: none;
  }

  &:before,
  &:after {
    content: none;
  }

  @media (max-width: $break-small) {
    
  }
}

@mixin button-theme(
  $bg,
  $bg-hover,
  $text,
  $text-hover,
  $border: $bg,
  $border-hover: $bg-hover,
  $variant: solid
) {

  @if $variant == wire {
    background-color: transparent;
    color: #{$bg};
    border-color: #{$bg};

    &:hover {
      background-color: #{$bg-hover};
      color: #{$text-hover};
      border-color: #{$bg-hover};
    }

  } @else {
    background-color: #{$bg};
    color: #{$text};
    border-color: #{$border};

    &:hover {
      background-color: #{$bg-hover};
      color: #{$text-hover};
      border-color: #{$border-hover};
    }
  }
}

@mixin grid--flex($padding) {
  overflow: hidden;

  >.flex--wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: calc(-1 * #{$padding});

    >.flex--item {
      flex: 1;
      padding: $padding;
    }
  }

  @media screen and (max-width: $break--small) {
    >.flex--wrapper {
      margin: calc(-1 * #{$padding} / #{$grid-modifier-small});

      >.flex--item {
        padding: calc(#{$padding} / #{$grid-modifier-small});
        flex: 100%;
      }
    }
  }

  @media screen and (max-width: $break--tiny) {
    >.flex--wrapper {
      margin: calc(-1 * #{$padding} / #{$grid-modifier-tiny});

      >.flex--item {
        padding: calc(#{$padding} / #{$grid-modifier-tiny});
      }
    }
  }
}

@mixin container($max-width, $padding) {
  width: unset;
  margin: auto;
  padding-left: $padding;
  padding-right: $padding;
  max-width: calc(#{$max-width} + 2 * #{$padding});

  @media screen and (max-width: $max-width) {
    &.mobile--switch {
      padding: 0;

      .inner--container {
        padding-left: $padding;
        padding-right: $padding;
      }
    }
  }

  @media screen and (max-width: $break--small) {
    padding-left: $container-padding-small;
    padding-right: $container-padding-small;

    &.mobile--switch {
      padding: 0;

      .inner--container {
        padding-left: $container-padding-small;
        padding-right: $container-padding-small;
      }
    }
  }

  @media screen and (max-width: $break--tiny) {
    padding-left: $container-padding-tiny;
    padding-right: $container-padding-tiny;

    &.mobile--switch {
      padding: 0;

      .inner--container {
        padding-left: $container-padding-tiny;
        padding-right: $container-padding-tiny;
      }
    }
  }
}
