@use "sass:color";

// Breakpoints -->
$break--nano:   375px;
$break--tiny:   556px;
$break--small:  768px;
$break--medium: 992px;
$break--large:  1200px;
$break--xLarge:  1400px;

$breakpoints: (
  xm: 375px,
  sm: 556px,
  mm: 768px,
  md: 992px,
  lg: 1200px,
  xl: 1400px
);

// Scheme -->
$colour--white_1: #FFFFFF;

$colour--black_1: #000000;

// BUTTONS -->
$buttons--size_base: 1.6rem;
$buttons--radius_base: 0.8rem;
$buttons--padding_base: 0.813em 1.5em;

$buttons--size_large: 1.8rem;
$buttons--radius_large: 0.8rem;
$buttons--padding_large: 1em 1.75em;

$buttons--text_1: $colour--white_1;
$buttons--textHover_1: $colour--white_1;
$buttons--background_1: $colour--black_1;
$buttons--backgroundHover_1: color.adjust($colour--black_1, $lightness: -10%);
$buttons--border_1: $colour--black_1;
$buttons--borderHover_1: color.adjust($colour--black_1, $lightness: -10%);

// Colours -->    
$colour--primary: $colour--black_2; 
$colour--secondary: #191919; 
$colour--tertiary: #FFFFFF; 

// Misc -->
$misc--1: #000;
$misc--2: #000;
$misc--3: #000;

// Container -->
$container--width: 1280px;
$container--widthWide:  1570px;
$container--widthNarrow:  940px;

$container--padding: 1.6rem;
$container--modifierXLarge: 1;
$container--modifierLarge: 1;
$container--modifierSmall: 1;
$container--modifierTiny: 1;

// Gid -->
$grid--gap: 2.4rem;
$grid--modifierSmall: 1;
$grid--modifierTiny: 1;

$gridSmall--gap: 1.2rem;
$gridSmall--modifierSmall: 1;
$gridSmall--modifierTiny: 1;

// List -->
$list--gap: 0.8rem;

// Fonts -->   
$font--primary: "Inter", sans-serif;
$font--secondary: "Inter", sans-serif;

// REM Size -->
$size--base: 10px;
$size--large: 1.0;
$size--xlarge: 0.9;

$text--lineHeight: 1.333;
$text--headingWeight: 600;

// Text sizes -->
$text--titleLarge: 5.6rem;
$text--titleMedium: 5.6rem;
$text--titleSmall: 2.8rem;
$text--titleTiny: 2.8rem;

$text--h1Large: 5.4rem;
$text--h1Medium: 5.44rem;
$text--h1Small: 3.6rem;
$text--h1Tiny: 3.6rem;

$text--h2Large: 4.8rem;
$text--h2Medium: 4.8rem;
$text--h2Small: 3.2rem;
$text--h2Tiny: 3.2rem;

$text--h3Large: 3.2rem;
$text--h3Medium: 3.2rem;
$text--h3Small: 2.4rem;
$text--h3Tiny: 2.4rem;

$text--h4Large: 2rem;
$text--h4Medium: 2rem;
$text--h4Small: 2rem;
$text--h4Tiny: 2rem;

$text--h5Large: 1.8rem;
$text--h5Medium: 1.8rem;
$text--h5Small: 1.8rem;
$text--h5Tiny: 1.8rem;

$text--h6Large: 1.8rem;
$text--h6Medium: 1.8rem;
$text--h6Small: 1.8rem;
$text--h6Tiny: 1.8rem;

$text--bodyLarge: 1.6rem;
$text--bodyMedium: 1.6rem;
$text--bodySmall: 1.6rem;
$text--bodyTiny: 1.6rem;
