@use "abstracts/variables" as *;
@use 'abstracts/functions' as *;
/* -------------------------------------------------------------------------------------------------------------------------------------------[Abstracts]---*/

@use 'abstracts/_base';

/*__________________________________________________________________________________________________________________________________________________________*/
/* ----------------------------------------------------------------------------------------------------------------------------------------------[Header]---*/

@use 'layout/_header';

/*__________________________________________________________________________________________________________________________________________________________*/
/* ----------------------------------------------------------------------------------------------------------------------------------------------[Footer]---*/

@use 'layout/_footer';

/*__________________________________________________________________________________________________________________________________________________________*/
/* --------------------------------------------------------------------------------------------------------------------------------------------[Sections]---*/

@use 'layout/_sections';
@use 'layout/_snippets';

/*__________________________________________________________________________________________________________________________________________________________*/
/* ------------------------------------------------------------------------------------------------------------------------------------------[Collection]---*/

#theme[data-template^="collection"] {
  /*/__________________________________________________________________________________
  : HEADER
  ‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾/*/
  
}

/*__________________________________________________________________________________________________________________________________________________________*/